/* Файл fonts.less */
@font-face {
  font-family: 'OpenSans__reg';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans__semiBold';
  src: url('../fonts/OpenSans-SemiBold.eot');
  src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-SemiBold.woff2') format('woff2'), url('../fonts/OpenSans-SemiBold.woff') format('woff'), url('../fonts/OpenSans-SemiBold.ttf') format('truetype'), url('../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans__bold';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans__extraBold';
  src: url('../fonts/OpenSans-ExtraBold.eot');
  src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'), url('../fonts/OpenSans-ExtraBold.woff') format('woff'), url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'), url('../fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rajdhani_medium';
  src: url('../fonts/Rajdhani-Medium.eot');
  src: url('../fonts/Rajdhani-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Rajdhani-Medium.woff2') format('woff2'), url('../fonts/Rajdhani-Medium.woff') format('woff'), url('../fonts/Rajdhani-Medium.ttf') format('truetype'), url('../fonts/Rajdhani-Medium.svg#Rajdhani-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BebasNeue__reg';
  src: url('../fonts/BebasNeue-Regular.eot');
  src: url('../fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue-Regular.woff2') format('woff2'), url('../fonts/BebasNeue-Regular.woff') format('woff'), url('../fonts/BebasNeue-Regular.ttf') format('truetype'), url('../fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Файл global.less */
img {
  width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
@media (min-width: 767px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }
}
@media (min-width: 940px) {
  .container {
    max-width: 940px;
  }
}
/* Файл variables.less */
/* Файл button.less */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'OpenSans__bold', sans-serif;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: #00A4E5;
}
@media (min-width: 767px) {
  .button {
    margin: 0;
  }
}
/*Button popup*/
.buttonToggle {
  display: inline-block;
  position: absolute;
  top: -2px;
  right: 15px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  margin-right: 2px;
  z-index: 10;
}
@media (min-width: 767px) {
  .buttonToggle {
    display: none;
  }
}
.buttonToggle__burger {
  margin-top: 11px;
  margin-left: 5px;
}
.buttonToggle__burger,
.buttonToggle__burger::before,
.buttonToggle__burger::after {
  position: absolute;
  background-color: #fff;
  width: 24px;
  height: 5px;
  border-radius: 7px;
}
.buttonToggle__burger::before,
.buttonToggle__burger::after {
  content: '';
  display: block;
  transition: 0.6s;
}
.buttonToggle__burger::before {
  transform: translateY(-10px);
}
.buttonToggle__burger::after {
  transform: translateY(10px);
}
.buttonToggle--active span {
  height: 0;
}
.buttonToggle--active span::before {
  transform: rotate(45deg);
}
.buttonToggle--active span::after {
  transform: rotate(-45deg);
}
/* Файл page.less */
.page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: 'OpenSans__reg', sans-serif;
  color: #48555B;
  font-size: 13px;
  line-height: 23px;
}
.page--noScroll {
  overflow: hidden;
}
.page__header {
  position: relative;
  background: url("../img/header-bg.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #fff;
}
@media (min-width: 767px) {
  .page__header {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}
.page__navigation {
  margin-bottom: 50px;
}
@media (min-width: 767px) {
  .page__navigation {
    margin-bottom: 58px;
    border-bottom: 1px solid #e6e6e6;
    padding: 25px 15px;
  }
}
.page__story {
  margin-bottom: 50px;
}
@media (min-width: 940px) {
  .page__story {
    margin-bottom: 120px;
  }
}
.page__services {
  margin-bottom: 50px;
}
@media (min-width: 940px) {
  .page__services {
    margin-bottom: 115px;
  }
}
@media (min-width: 1420px) {
  .page__services {
    margin-bottom: 0;
  }
}
.page__touch {
  background: url("../img/touch-bg.jpg") center no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 178px;
}
@media (min-width: 940px) {
  .page__touch {
    padding-top: 120px;
    padding-bottom: 230px;
  }
}
@media (min-width: 1420px) {
  .page__touch {
    padding-top: 235px;
    padding-bottom: 230px;
    background-position: bottom;
  }
}
.page__newsletter {
  margin-top: -3px;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #171819;
}
@media (min-width: 767px) {
  .page__newsletter {
    padding: 30px 0;
  }
}
.page__footer {
  color: #fff;
}
/* Файл header.less */
.header__logoContainer {
  display: flex;
  justify-content: center;
  height: 23px;
  position: relative;
  margin-bottom: 200px;
}
@media (min-width: 767px) {
  .header__logoContainer {
    margin-bottom: 300px;
  }
}
.header__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'BebasNeue__reg', sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (min-width: 767px) {
  .header__title {
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 6px;
  }
}
.header__text {
  margin: 0;
  margin-bottom: 160px;
  font-family: 'OpenSans__semiBold', sans-serif;
  font-size: 16px;
  line-height: 22px;
}
@media (min-width: 767px) {
  .header__text {
    margin-bottom: 220px;
  }
}
.header__subtitle {
  font-family: 'OpenSans__semiBold', sans-serif;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
}
@media (min-width: 767px) {
  .header__subtitle {
    letter-spacing: 5px;
  }
}
/* Файл navigation.less */
@media (max-width: 767px) {
  .navPopupWrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(-150%);
    transition: transform ease-out 0.9s;
    background: url("../img/header-bg.jpg") center center no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 9;
  }
}
.popupOpen {
  transform: translate(0px, 0px);
}
.navigation__container {
  display: flex;
  justify-content: space-between;
}
.navigation__logoContainer {
  display: none;
}
@media (min-width: 767px) {
  .navigation__logoContainer {
    display: inline-block;
  }
}
.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  margin-top: 30%;
  list-style: none;
  padding: 0;
}
@media (min-width: 767px) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin: 0;
    padding: 0;
  }
}
.navigation__link {
  font-family: 'OpenSans__semiBold', sans-serif;
  font-size: 26px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}
@media (min-width: 767px) {
  .navigation__link {
    font-size: 12px;
    line-height: 16px;
    color: #48555B;
    letter-spacing: 1.09px;
  }
}
.navigation__link--active {
  font-family: 'OpenSans__bold', sans-serif;
  color: #00A4E5;
}
/* Файл story.less */
.story__title {
  position: relative;
  margin: 0;
  margin-bottom: 22px;
  font-family: 'OpenSans__bold', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
}
@media (min-width: 767px) {
  .story__title {
    margin-bottom: 40px;
  }
}
@media (min-width: 940px) {
  .story__title {
    margin-bottom: 70px;
    letter-spacing: 2.3px;
  }
}
.story__title::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  background-color: #00A4E5;
}
.story__wrap {
  display: flex;
  flex-direction: column;
}
@media (min-width: 767px) {
  .story__wrap {
    display: flex;
    flex-direction: row;
  }
}
.story__wrapText {
  margin-bottom: 30px;
}
@media (min-width: 767px) {
  .story__wrapText {
    margin-bottom: 0;
  }
}
.story__subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 25px;
}
@media (min-width: 940px) {
  .story__subtitle {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.17px;
  }
}
.story__accent {
  color: #00A4E5;
}
.story__text {
  margin: 0;
  letter-spacing: 0.19px;
}
.story__wrapFeatures {
  display: flex;
}
@media (min-width: 767px) {
  .story__wrapFeatures {
    align-items: center;
    margin-left: 30px;
  }
}
@media (min-width: 940px) {
  .story__wrapFeatures {
    margin-left: 65px;
    align-items: flex-end;
  }
}
.story__list {
  display: flex;
  margin: 0;
  padding: 0;
  column-gap: 14px;
  font-family: 'OpenSans__extraBold', sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  list-style: none;
  text-transform: uppercase;
}
@media (min-width: 374px) {
  .story__list {
    font-size: 17px;
  }
}
@media (min-width: 940px) {
  .story__list {
    column-gap: 20px;
    font-size: 24px;
    line-height: 29px;
  }
}
.story__item {
  width: 87px;
  height: 140px;
  padding-top: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}
@media (min-width: 374px) {
  .story__item {
    width: 100px;
    height: 160px;
  }
}
@media (min-width: 767px) {
  .story__item {
    width: 120px;
    height: 186px;
  }
}
@media (min-width: 940px) {
  .story__item {
    width: 140px;
    height: 224px;
    padding-top: 15px;
    padding-left: 14px;
  }
}
.story__item--plan {
  background: url("../img/story-plan.png") center center no-repeat;
  background-size: cover;
}
.story__item--manage {
  background: url("../img/story-manage.png") center center no-repeat;
  background-size: cover;
}
.story__item--build {
  background: url("../img/story-build.png") center center no-repeat;
  background-size: cover;
}
/* Файл services.less */
.services__wrapText {
  display: flex;
  flex-direction: column;
}
@media (min-width: 767px) {
  .services__wrapText {
    flex-direction: row;
    margin-bottom: 75px;
    justify-content: space-between;
  }
}
.services__title {
  position: relative;
  margin: 0;
  margin-bottom: 32px;
  font-family: 'OpenSans__bold', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
@media (min-width: 767px) {
  .services__title {
    margin: 0;
    text-align: left;
  }
}
.services__title::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  background-color: #00A4E5;
}
@media (min-width: 767px) {
  .services__title::before {
    left: 0;
    transform: translateX(0);
  }
}
.service__wrapButtonText {
  display: flex;
  flex-direction: column;
}
@media (min-width: 767px) {
  .service__wrapButtonText {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
}
.services__text {
  margin: 0;
  margin-bottom: 30px;
  font-size: 11px;
  line-height: 19px;
}
@media (min-width: 767px) {
  .services__text {
    width: 300px;
    margin-bottom: 0;
    letter-spacing: 0.2px;
  }
}
@media (min-width: 940px) {
  .services__text {
    width: 405px;
  }
}
.services__button {
  margin-bottom: 50px;
}
@media (min-width: 767px) {
  .services__button {
    margin-bottom: 0;
  }
}
.services__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  row-gap: 30px;
}
@media (min-width: 767px) {
  .services__list {
    flex-direction: row;
    column-gap: 28px;
  }
}
.services__item {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #e6e6e6;
  padding-top: 155px;
  padding-bottom: 39px;
  padding-left: 23px;
}
@media (min-width: 767px) {
  .services__item {
    padding-top: 138px;
    padding-bottom: 46px;
  }
}
.services__item::before {
  position: absolute;
  content: '';
  width: 80px;
  height: 85px;
  top: 42px;
  left: 25px;
  background-repeat: no-repeat;
}
@media (min-width: 767px) {
  .services__item::before {
    top: 38px;
    left: 23px;
  }
}
.services__item--newspaper::before {
  background-image: url("../img/services-iconNewspaper.png");
}
.services__item--shop::before {
  background-image: url("../img/services-iconShop.png");
}
.services__item--build::before {
  background-image: url("../img/services-iconBuild.png");
}
.services__itemTitle {
  margin: 0;
  font-family: 'OpenSans__bold', sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
@media (min-width: 767px) {
  .services__itemTitle {
    letter-spacing: 0.43px;
    line-height: 26px;
  }
}
.services__itemText {
  margin: 0;
  font-size: 14px;
  line-height: 25px;
}
/* Файл touch.less */
.touch__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.touch__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: 'OpenSans__bold', sans-serif;
  font-size: 26px;
  line-height: 36px;
}
@media (min-width: 767px) {
  .touch__title {
    margin-bottom: 35px;
    font-size: 30px;
    letter-spacing: 0.15px;
  }
}
/* Файл newsletter.less */
.newsletter__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 767px) {
  .newsletter__container {
    flex-direction: row;
    justify-content: center;
  }
}
.newsletter__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'OpenSans__bold', sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 30px;
}
@media (min-width: 767px) {
  .newsletter__title {
    letter-spacing: 0.85px;
    margin-right: 50px;
    margin-bottom: 0;
  }
}
@media (min-width: 940px) {
  .newsletter__title {
    margin-right: 70px;
  }
}
.newsletter__input {
  width: 250px;
  height: 40px;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 16px;
  border: none;
}
@media (min-width: 767px) {
  .newsletter__input {
    margin-bottom: 0;
  }
}
/* Файл footer.less */
.footer__top {
  background-color: #141A20;
  padding: 50px 0;
}
@media (min-width: 940px) {
  .footer__top {
    padding: 42px 0;
    margin-top: -2px;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 767px) {
  .footer__container {
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 940px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }
}
.footer__wrapLogo {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
}
@media (min-width: 767px) {
  .footer__wrapLogo {
    align-items: center;
  }
}
@media (min-width: 940px) {
  .footer__wrapLogo {
    align-items: flex-start;
    margin-bottom: 0;
  }
}
.footer__title {
  margin: 0;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
}
@media (min-width: 940px) {
  .footer__title {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.85px;
  }
}
.footer__titleLogo {
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 15px;
}
.footer__logo {
  margin-bottom: 15px;
}
.footer__text {
  margin: 0;
  font-size: 11px;
  line-height: 19px;
}
@media (min-width: 940px) {
  .footer__text {
    letter-spacing: 0.85px;
  }
}
.footer__titleLink {
  margin-bottom: 12px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 940px) {
  .footer__list {
    flex-direction: row;
    column-gap: 30px;
  }
}
@media (min-width: 940px) {
  .footer__item {
    width: 78px;
  }
}
.navigation__wrapItemLeft {
  margin-bottom: 30px;
}
.footer__link {
  font-family: 'OpenSans__semiBold', sans-serif;
  font-size: 14px;
  line-height: 31.5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
@media (min-width: 940px) {
  .footer__link {
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.85px;
  }
}
.navigation__wrapItemCenter {
  margin-bottom: 30px;
}
@media (min-width: 940px) {
  .navigation__wrapItemCenter {
    margin-bottom: 0;
  }
}
.navigation__wrapItemRight {
  margin-bottom: 25px;
}
@media (min-width: 940px) {
  .navigation__wrapItemRight {
    margin-bottom: 0;
  }
}
.footer__wrapContact {
  width: 141px;
  margin-bottom: 50px;
}
@media (min-width: 940px) {
  .footer__wrapContact {
    margin-bottom: 0;
    width: 140px;
  }
}
.contactText {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 940px) {
  .contactText {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.85px;
  }
}
.footer__address {
  margin-bottom: 20px;
}
.footer__email {
  display: none;
}
@media (min-width: 940px) {
  .footer__email {
    display: inline-block;
  }
}
.footer__listSocial {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}
.footer__icon {
  width: 12px;
}
.footer__bottom {
  margin-top: -2px;
  padding: 23px 0;
  text-align: center;
  background-color: #171819;
}
.footer__bottomText {
  margin: 0;
  font-size: 11px;
  line-height: 15px;
}
@media (min-width: 767px) {
  .footer__bottomText {
    letter-spacing: 0.85px;
  }
}
/*# sourceMappingURL=style.css.map */
